{{#each this}}
<li class="content__item" id="{{id}}">
    <div class="content__film-image">
<img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}" class="card-gallery-image"/>
    </div>

<div class="content__film-info">
    <p class="content__film-name">{{title}}</p>
    <p class="content__film-subscription">{{genre_ids}} &#10072 {{release_date}}<span class="accent-box visually-hidden">{{vote_average}}</span></p>    
</div>
</div>
</li>
{{/each}}